QSlider::groove:horizontal
{
	background: grey; 
	height:2px;
	left:8px;
	right:8px;
}

QSlider::handle:horizontal
{
	background-color:white;
	margin:-3px -4px;
	border-radius:3px;
}

QSlider::sub-page:horizontal 
{
	background: #55f;
}

QSlider::add-page:horizontal 
{
	background: grey;
}

QPushButton#VolumeBt
{
	width:29;
	height:26;
	border-image:url("data/icon/volNormal.png");
}

QPushButton#SearchBt
{
	width:31;
	height:30;
	border-image:url("data/icon/searchNormal.png");
}

QPushButton#SearchBt:hover
{
	width:31;
	height:30;
	border-image:url("data/icon/searchHover.png");
}

QPushButton#SearchBt:pressed
{
	width:31;
	height:30;
	border-image:url("data/icon/searchPress.png");
}

QPushButton#LeftBt
{
	width:49;
	height:49;
	border-image:url("data/icon/leftNormal.png");
}

QPushButton#LeftBt:hover
{
	width:49;
	height:49;
	border-image:url("data/icon/leftHover.png");
}

QPushButton#LeftBt:pressed
{
	width:49;
	height:49;
	border-image:url("data/icon/leftPress.png");
}

QPushButton#PlayBt
{
	width:49;
	height:49;
	border-image:url("data/icon/playNormal.png");
}

QPushButton#PlayBt:hover
{
	width:49;
	height:49;
	border-image:url("data/icon/playHover.png");
}

QPushButton#PlayBt:pressed
{
	width:49;
	height:49;
	border-image:url("data/icon/playPress.png");
}

QPushButton#PauseBt
{
	width:49;
	height:49;
	border-image:url("data/icon/pauseNormal.png");
}

QPushButton#PauseBt:hover
{
	width:49;
	height:49;
	border-image:url("data/icon/pauseHover.png");
}

QPushButton#PauseBt:pressed
{
	width:49;
	height:49;
	border-image:url("data/icon/pausePress.png");
}

QPushButton#RightBt
{
	width:49;
	height:49;
	border-image:url("data/icon/rightNormal.png");
}

QPushButton#RightBt:hover
{
	width:49;
	height:49;
	border-image:url("data/icon/rightHover.png");
}

QPushButton#RightBt:pressed
{
	width:49;
	height:49;
	border-image:url("data/icon/rightPress.png");
}

QComboBox
{
  border:1px solid #CBD3E1;
  padding:0px 20px 0px 5px;
  border-radius: 4px;
  height:30px;
  font-family:Segoe UI;
  font-size:14px;
  color:white;
  background: rgba(0,0,0,100);
}

QComboBox:!enabled
{
  background: rgba(0,0,0,100);
}

QComboBox:drop-down
{
  subcontrol-origin:padding;
  subcontrol-position:center right;
  width:25px;
  border-left:0px;
  border-top-right-radius:4px;
  border-bottom-right-radius:4px;
}

QComboBox::down-arrow
{
  image:url(data/icon/contract_down_normal.png);
}

QComboBox::down-arrow:hover
{
  image:url(data/icon/contract_down_hover.png);
}

QComboBox::down-arrow:pressed
{
  image:url(data/icon/contract_down_press.png);
}

QComboBox QListView
{
  border:1px solid #CBD3E1;
  border-radius: 4px;
  outline: 0px;
  background-color:transparent;
  show-decoration-selected:1;
}

QComboBox QListView::item
{
  height:32px;
  font-family:SegoeUI;
  font-size:14px;
  color:white;
  border: none;
}

QComboBox QListView::item:selected 
{
  background-color: #c3def3;
}

QComboBox QListView::item:pressed 
{
  background-color: #e5f2ff;
  border-bottom: 1px solid #cdef55;
}

QScrollBar:vertical 
{              
    background:transparent;  
    width:9px;  
    margin: 0px 0px 2px 0px;  
}  
  
QScrollBar::handle:vertical 
{	
    background: rgba(195, 195, 195,0.5);  
    min-height: 20px;  
    border-radius: 4px;  
}  
  
QScrollBar::handle:vertical:hover
{
    background:rgba(195, 195, 195,0.3);  
}  
  
QScrollBar::add-line:vertical
{
    height: 0px;  
    subcontrol-position: bottom;  
    subcontrol-origin: margin;  
}  
  
QScrollBar::sub-line:vertical
{
    height: 0px;  
    subcontrol-position: top;  
    subcontrol-origin: margin;  
}  

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical
{
    background: none;
}






